---
import Base from "../layouts/Base.astro";
---

<Base title="TEZEENS 블로그">
    <div class="layout">
        <div class="section">
            <div class="sidebar">
                Sidebar
                <div class="btn">

                </div>
            </div>
        </div>
        <div class="section">
            <div class="mainview">
                Mainview
                <div class="btn">
                    
                </div>
            </div>
        </div>
    </div>
</Base>

<style lang="scss">
    $section-width: 480px;

    .layout {
        position: fixed; top: 0; left: -100vw; height: 100%; width: 200vw;
        display: flex;
        transition: left 0.4s;
        &.clicked {
            left: 0;
        }
        @media (min-width: #{$section-width * 2 + 10px}) {
            left: 0; width: 100vw;
            .section {
                .sidebar {
                    
                }
            }
        }
        .section {
            flex: 1 0 0; height: 100%; width: 100%; 
            .sidebar, .mainview{
                position: relative;
                height: 100%; width: #{$section-width}; max-width: 100vw; margin: 0 auto;
                overflow-x: hidden; overflow-y: scroll;
                border: 1px solid #c00;
                .btn {
                    position: absolute; right: 0; bottom: 0; height: 48px; width: 48px;
                    background: #c00;
                    cursor: pointer;
                }
            }
        }
    }
</style>

<script>
    const $layout = document.querySelector(".layout");
    const $btn = document.querySelectorAll(".btn");

    $btn?.forEach((x) => {
        x.addEventListener("click", (e) => {
            $layout?.classList?.toggle("clicked");
        });
    });
</script>