---
import Base from "../layouts/Base.astro";
---

<Base title="TEZEENS 블로그">
    <div class="layout">
        Layout...
    </div>
</Base>

<style lang="scss">
    .layout {
        color: #00c;
    }
</style>