---
---

<footer>
    <div>이 블로그는 Nodejs와 Astro, Highlight.js, Markdown-It 프레임워크를 사용하여 만들어졌습니다.</div>
</footer>

<style>
    footer {
        margin: 32px 0;
        display: flex; justify-content: center; align-items: center;
    }
</style>