---
const {site} = Astro.props;
---

<header>
    <h1><a href="/">{site.title}</a></h1>
</header>

<style>
    header {
        margin: 32px 0;
        h1 {
            display: flex; justify-content: center; align-items: center;
            font-size: 32px;
        }
    }
</style>