-var site_title = "EHZL7b 블로그";

.layout
    .wrapper
        .sidebar
            header
                h1.site-title
                    a(href="/") #{site_title}
            nav
                .nav-wrapper 네비게이션
            footer
                div
                    | 이 블로그는 Node.js로 만들어지고,
                    br
                    | Github Pages에서 배포되었습니다.
        .mainview
            .maintop
                div #{site_title}
            article
        .btn
            div +
script(async).
    "use strict";
    const $sidebar = document.querySelector(".sidebar");
    const $btn = document.querySelector(".btn");
    const $article = document.querySelector("article");
    
    // 베뉴버튼
    const show_menu = (e) => {
        $sidebar.classList.toggle("clicked");
        $btn.classList.toggle("clicked");
    };
    $btn.addEventListener("click", show_menu);
