---
import Header from "../components/Header.astro";
import Nav from "../components/Nav.astro";
import Footer from "../components/Footer.astro";
import Article from "../components/Article.astro";

const {site} = Astro.props;
---

<div class="layout">    
    <div class="btn">
        <button>+</button>
    </div>
    <div class="sidebar">
        <div class="inner">
            <Header site={site} />
            <Nav />
            <div class="sticky"><Footer /></div>
        </div>
    </div>
    <div class="mainview">
        <div class="inner">
            <Article />
        </div>
    </div>
</div>

<style lang="scss">
    $sidebar-max-width: 320px;
    $mainview-max-width: 880px;

    .layout {
        position: relative; height: 100%; width: 100%; max-width: #{$mainview-max-width}; margin: 0 auto;
        overflow: hidden;

        @media (min-width: #{$sidebar-max-width + $mainview-max-width}) {
            max-width: #{$sidebar-max-width + $mainview-max-width};
        }

        .sidebar, .mainview {
            position: absolute; top: 0; bottom: 0;
            overflow-x: hidden; overflow-y: scroll;
            border: 1px solid; /* dev */

            &:before, &:after {
                content: " "; display: table-cell; clear: both;
            }
            .inner {
                height: 100%; width: 100%; padding: 5px;
            }
        }
        .sidebar {
            left: #{-$sidebar-max-width}; width: #{$sidebar-max-width};
            background: #eee;
            transition: left 0.4s;
            z-index: 200;
            
            @media (min-width: #{$sidebar-max-width + $mainview-max-width}) {
                left: 0;
            }
            &.checked {
                left: 0;
            }
            .sticky {
                position: sticky; top: 100vh;
            }
        }
        .mainview {
            right: 0; width: 100%; max-width: #{$mainview-max-width};
            z-index: 100;
        }
        .btn {
            position: absolute; top: 0; left: 0; width: 32px; height: 32px;
            background: var(--fg-b);
            transition: left 0.4s;
            z-index: 9999;

            display: flex; justify-content: center; align-items: center;
            button {
                background: transparent; outline: none; border: 0;
                cursor: pointer;
                font-size: 32px;
            }
            @media (min-width: #{$sidebar-max-width + $mainview-max-width}) {
                left: #{$sidebar-max-width};
                display: none;
            }
            &.checked {
                left: #{$sidebar-max-width};

                button {
                    transform: rotate(45deg);
                }
            }
        }
    }
</style>

<script>
    "use strict";

    const $sidebar = document.querySelector(".sidebar");
    const $btn = document.querySelector(".btn");

    $btn?.addEventListener("click", (e) => {
        $sidebar?.classList?.toggle("checked");
        $btn?.classList?.toggle("checked");
    });
</script>