---
---

<div class="layout">
    <div class="sidebar">
        Sidebar...
    </div>
    <div class="mainview">
        Mainview...
    </div>
</div>

<style lang="scss">
    $sidebar-max-width: 480px;
    $mainview-max-width: 720px;

    .layout {
        position: fixed; top: 0; right: 0; bottom: 0; left: 0;
        

        .sidebar, .mainview {
            overflow-x: hidden; overflow-y: scroll;
            border: 1px solid;
            &:before, &:after {
                content: " "; display: table-cell; clear: both;
            }
        }
        .sidebar {
            
        }
        .mainview {

        }
    }
</style>