---
---

<div class="layout">
    <div class="sidebar section">
        Sidebar...
    </div>
    <div class="mainview section">
        Mainview...
    </div>
</div>

<style lang="scss">
    $sidebar-max-width: 480px;
    $mainview-max-width: 720px;

    .layout {
        position: fixed; top: 0; right: 0; bottom: 0; left: 0;
        .section {
            &:before, &:after {
                content: " "; display: table-cell; clear: both;
            }
            border: 1px solid;
        }
        .sidebar {

        }
        .mainview {

        }
    }
</style>